{{#each users}}
  <div class="search-result">
    <div class="user" rel="{{userID}}">
      <div class="user-image-container">
        <img class="user-image" src="{{userImageURL}}">
      </div><div class="username-container">
        <h1 class="username">{{username}}</h1>
      </div>
      {{#each tripImages}}
        <img class="trip-image" src="{{tripImageURL}}">
      {{/each}}
    </div>
  </div>
{{/each}}