<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>tabibuddy | Error</title>

		<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <style>
    	body {
    		margin: auto;
    		text-align: center;
    		font-family: 'Gloria Hallelujah', sans-serif;
    		font-size: 2vw;
    	}
    	img {
    		width: 50%;
    	}
    </style>
	</head>

	<body>

		<img src="/images/error-message.jpg" />

		<p>{{ message }}<br>
		<a href="/">Go back to Home</a>
		</p>

	</body>
</html>
