<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>tabibuddy | Home</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,500i,600,800" rel="stylesheet">
    <link rel='stylesheet' href="/stylesheets/top_bar_style.css" />
    <link rel="stylesheet" href="/stylesheets/home.css" />

    <link rel="stylesheet"
  href="http://fonts.googleapis.com/css?family=Lato:100,300,400">

  </head>
  <body>

    {{> top_bar showSearchBar=showSearchBar loggedIn=loggedIn}}

    <div id="body-container">

      <div class="hero">

        <h2>tabibuddy</h2>
        
        <p>‘tabi’ (旅) means ‘trip’ or ‘travel’ in Japanese. <br>
          So you kind of want to travel... but to where? With whom? <br>
          With tabibuddy, find both inspiration and travel buddies for your 'tabi'!

        </p>
      </div>

      <!--tabi function-->
      <div class="container">
        <fieldset class = "fieldset-home-tabi tabi">
        <form name="tabi_destination_form" method="get" action="/tabi_search">
          <img src="/images/tabi_icon.png" alt="tabi icon">
          <h3>tabi</h3>
          <h4>Get inspired with photos from around the world!</h4>
          <label class="expand-show">
            Where to?
            <br>
            <input id="tabi-autocomplete" type="text" placeholder="Type in a city name!">
            <input id="tabi-place-name" type="text" name="tabi_destination_name" class="invisible">
            <input id="tabi-place-id" type="text" name="tabi_destination_id" class="invisible">
          </label>
          <button id="tabi-submit" type="submit" class="expand-show">
            Go!
          </button>
          </form>
        </fieldset>
      </div>

      <!--buddy function-->
      <div class="container">
        <fieldset class="fieldset-home-buddy buddy">
          <form name="buddy_destination_form" method="get" action="/buddy_search">
          <img src="/images/buddy_icon.png" alt="buddy icon">
          <h3>buddy</h3>
          <h4>Find buddies to travel with!</h4>
          <label class="expand-show">
            Where to?
            <br>
            <input id="buddy-autocomplete" type="text" placeholder="Type in a city name!">
            <input id="buddy-place-name" type="text" name="buddy_destination_name" class="invisible">
            <input id="buddy-place-id" type="text" name="buddy_destination_id" class="invisible">
          </label>
          <button id="buddy-submit" type="submit" class="expand-show">
            Go!
          </button>
          </form>
        </fieldset>
      </div>

    </div>

    <div class="background-container">
      <img src="/images/sf-background.jpg" id="background">
    </div>

    <div class="background-container" id="hidden-background">
      <img src="/images/switzerland-background.jpg" id="background-next">
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/js/top_bar.js"></script>
    <script src="/js/home.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8lG_CLlQVPpyRbKhHHUe0vZYjFnCPTNs&libraries=places&callback=initMap" async defer></script>

  </body>
</html>