<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <style>
      body {
        margin: auto;
        text-align: center;
      }
      .invisible {
        display: none;
      }
    </style>
  </head>
  <body>

    <h1>Welcome to Tabibuddy!</h1>

    <form name="tabi_destination_form" method="get" action="/tabi_search">
      <h2>Tabi Search</h2>
      <input id="tabi-autocomplete" type="text" placeholder="Where to?">
      <input id="tabi-place-name" type="text" name="tabi_destination_name" class="invisible">
      <input id="tabi-place-id" type="text" name="tabi_destination_id" class="invisible">
      <br><br>
      <button id="tabi-submit" type="submit">Explore!</button>
    </form>

    <form name="buddy_destination_form" method="get" action="/buddy_search">
      <h2>Buddy Search</h2>
      <input id="buddy-autocomplete" type="text" placeholder="Where to?">
      <input id="buddy-place-name" type="text" name="buddy_destination_name" class="invisible">
      <input id="buddy-place-id" type="text" name="buddy_destination_id" class="invisible">
      <br><br>
      <button id="buddy-submit" type="submit">Find Buddy!</button></li>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript">
      function initMap() {
        var tabiInput = $('#tabi-autocomplete')[0];
        var buddyInput = $('#buddy-autocomplete')[0];
        
        var tabiAutocomplete = new google.maps.places.Autocomplete(tabiInput);
        var buddyAutocomplete = new google.maps.places.Autocomplete(buddyInput);

        tabiAutocomplete.setTypes(['(cities)']);
        buddyAutocomplete.setTypes(['(cities)']);

        tabiAutocomplete.addListener('place_changed', function() {

          var place = tabiAutocomplete.getPlace();
          var placeID = place.place_id;
          var placeName = place.formatted_address;

          $('#tabi-place-id').val(placeID);
          $('#tabi-place-name').val(placeName);
        });

        buddyAutocomplete.addListener('place_changed', function() {

          var place = buddyAutocomplete.getPlace();
          var placeID = place.place_id;
          var placeName = place.formatted_address;

          $('#buddy-place-id').val(placeID);
          $('#buddy-place-name').val(placeName);
        });
      }

      $(document).ready(function(){
        $('form input').on('keypress', function(e) {
          return e.which !== 13;
        });
        $('#tabi-submit').on('click', function(e) {
          return $('#tabi-place-id').val().length > 0;
        });
        $('#buddy-submit').on('click', function(e) {
          return $('#buddy-place-id').val().length > 0;
        });
      });
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8lG_CLlQVPpyRbKhHHUe0vZYjFnCPTNs&libraries=places&callback=initMap" async defer></script>

  </body>
</html>