<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/base.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/js/ajax.js"></script>
  </head>
  <body>
    <h1 class="workshop-name">6.148 Day 4 MongoDB Workshop</h1>
    <div class="content">
      <h1>{{ title }} Form</h1>





      <a href="/userlist">See userlist</a>
    </div>
  </body>
</html>
