body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
.invisible {
  display: none;
}

.background-container {
  position: fixed;
  top: 50px;
  width: 100%;
  height: 100%;
  z-index: -1;
  text-align: center;
  vertical-align: center;
}
.background-container img {
  width: 100%;
  height: 100%;
}

#add-trip-container {
  position: relative;
  top: 100px;
  width: 100%;
  margin-bottom: 50px;
} 
#add-trip-content {
  width: 40%;
  margin-left: 30%;
  padding: 30px 0 50px 0;
  word-wrap: break-word;
}
#add-trip-content h1 {
  font-size: 2.5vw;
  color: white;
  text-align: center;
}
#add-trip-content form {
  text-align: left;
  margin-left: 10%;
  padding: 0;
  color: #bdc3c7;
}
.form-title {
  width: 29%;
  padding-left: 1%;
  display: inline-block;
  background-color: #7f8c8d;
  color: white;
}
#place-autocomplete, #title-input, #descripion-input {
  width: 60%;
  vertical-align: top;
}
#duration-input, #budget-input {
  width: 20%;
  vertical-align: top;
}
#save-trip {
  width: 20%;
  padding: 5px;
  margin-left: 40%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  background-color: #1abc9c;
  color: white;
  text-align: center;
  cursor: pointer;
}

#add-trip-form-background {
  position: absolute;
  top: 0;
  left: 30%;
  bottom: 0;
  width: 40%;
  height: 100%;
  border-radius: 10px;
  background-color: #2c3e50;
  opacity: 0.9;
  z-index: -1;
}