body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

.background-container {
  position: fixed;
  top: 50px;
  width: 100%;
  height: 100%;
  z-index: -1;
  text-align: center;
  vertical-align: center;
}
.background-container img {
  width: 100%;
  height: 100%;
}

/* filter bar */
#filter-by-container {
  width: 22%;
  height: 100%;
  display: inline-block;
  margin-top: 50px;
  margin-left: 1%;
}
#filter-by-container form {
  border: 3px solid #7f8c8d;
  border-radius: 5px;
  background-color: #1abc9c;
  margin: 10px;
  font-size: 1.5vw;
  overflow: hidden;
  cursor: default;
}
#filter-by-container h1 {
  margin-left: 10px;
  font-size: 2.5vw;
  color: white;
}
#filter-by-container button {
  margin: 10px;
}
#filter-by-container ul {
  margin-top: 10px;
  padding-left: 35px;
  color: white;
  display: none;
}
.filter-title-container {
  width: 100%;
  height: 40px;
  border: solid 1px #7f8c8d;
  background-color: #95a5a6;
}
.filter-title-container h2 {
  margin: 0;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 2vw;
  color: #bdc3c7;
}
.filter-criteria-container {
  padding: 10px;
  display: none;
  border: solid 2px #7f8c8d;
  background-color: white;
}

/* search result trips */
#search-results-container {
  width: 77%;
  display: inline-block;
  vertical-align:top;
  margin-top: 50px;
}
.search-result {
  width: 24%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
.trip {
  margin: 10px;
  padding: 10px;
  border: 3px solid #95a5a6;
  border-radius: 10px;
  background-color: white;
  cursor: zoom-in;
  font-size: 1.5vw;
}
.trip-title-container {
  width: 85%;
  display: inline-block;
}
.trip-title {
  width: 100%;
  margin: 0;
  text-align: left;
  font-size: 2.5vw;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}
.trip-like-container {
  width: 15%;
  display: inline-block;
  vertical-align: top;
  text-align: right;
}
.trip-like, .trip-unlike {
  width: 100%;
  vertical-align: top;
  cursor: pointer;
}
.trip-author, .trip-description {
  margin: 0;
  margin-top: 10px;
}
.trip-author {
  cursor: pointer;
}
.trip-image {
  width: 100%;
  margin: 0;
  margin-top: 10px;
}
.text-hidden {
  display: none;
}

/* trip popup*/
.popup-inactive {
  display: none;
}
#background-blur {
  position: fixed;
  top: 50px;
  width: 100%;
  height: 100%;
  background-color: grey;
  opacity: 0.8;
  text-align: center;
}
#trip-popup-close {
  position: absolute;
  top: 75px;
  right: 25px;
  width: 25px;
  height: 25px;
}
#trip-popup-close-icon {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#trip-popup {
  position: absolute;
  top: 100px;
  left: 25%;
  width: 50%;
  margin-bottom: 25px;
  text-align: center;
}