#top-bar {
  width: 100%;
  height: 50px;
  background-color: #1abc9c;
  text-align: center;
  position: fixed;
  z-index: 1;
}

#logo-container {
  height: 50px;
  width: 200px;
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  border-bottom: solid 1px #95a5a6;
}
#logo {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#top-search-bar-container {
  position: relative;
  top: 0;
  left: 0;
  height: 50px;
  width: 40%;
  display: inline-block;
}
#search-icon-container {
  position: absolute;
  left: 0;
  height: 40px;
  width: 10%;
  margin-top: 5px;
  background-color: #34495e;
  text-align: center;
  border-radius: 5px 0 0 5px;
}
#search-icon-container img {
  width: 40px;
  height: 40px;
}
#auto-completion {
  position: absolute;
  left: 10%;
  height: 40px;
  width: 66%;
  margin-top: 5px;
  padding: 0 2% 0 2%;
  border-width: 0;
  background-color: #7f8c8d;
  color: white;
  font-size: 2.2vw;
  text-overflow: ellipsis;
  overflow: hidden;
}
.invisible {
  display: none;
}
#search-button {
  position: absolute;
  left: 80%;
  height: 40px;
  line-height: 40px;
  width: 20%;
  margin-top: 5px;
  background-color: #34495e;
  text-align: center;
  color: #7f8c8d;
  font-size: 2.2vw;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

#user-hello {
  height: 50px;
  position: absolute;
  right: 60px;
  top: 0;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  vertical-align: middle;
  background-color: white;
  border-bottom: solid 1px #95a5a6;
  cursor: default;
}
#top-user-image-container {
  height: 50px;
  width: 50px;
  padding-right: 10px; 
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  background-color: white;
  border-bottom: solid 1px #95a5a6;
}
#top-user-image {
  height: 100%;
  width: 100%;
}
#user-dropdown-container {
  position: fixed;
  right: 0;
  top: 50px;
  display: none;
  border-radius: 0 0 15px 15px;
  border: solid 1px #95a5a6;
  overflow: hidden;
}
.user-dropdown {
  height: 26px;
  width: 150px;
  padding: 10px;
  border: solid 1px #95a5a6;
  background-color: white;
  font-size: 20px;
  cursor: pointer;
}
#user-dropdown-login {
  width: 200px;
}