body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

/* user info */
#user-info-container {
  width: 100%;
  display: inline-block;
  margin-top: 50px;
}
#user-info {
  padding: 20px;
  text-align: center;
}
#user-image-container {
  width: 15%;
  display: inline-block;
}
#user-image {
  width: 100%;
}
#user-description-container {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}
#user-info-edit-container {
  width: 20px;
  display: inline-block;
  vertical-align: top;
}
#user-info-edit {
  width: 100%;
  vertical-align: top;
}

/* trips */
#user-trips-container, #wishlist-trips-container {
  width: 100%;
  display: inline-block;
  vertical-align:top;
}
.user-trip, .wishlist-trip {
  width: 19.5%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
.trip, .new-trip {
  margin: 10px;
  padding: 10px;
  border: 1px solid #2c3e50;
  border-radius: 10px;
  background-color: white;
  cursor: zoom-in;
  font-size: 1.5vw;
}
.trip-title-container {
  width: 85%;
  display: inline-block;
}
.trip-title {
  width: 100%;
  margin: 0;
  text-align: left;
  font-size: 2.5vw;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}
.trip-like-container, .trip-edit-container {
  width: 15%;
  display: inline-block;
  vertical-align: top;
  text-align: right;
}
.trip-delete-container {
  width: 15%;
  vertical-align: top;
  margin-top: 5px;
  float: right;
  text-align: right;
}
.trip-like, .trip-unlike, .trip-edit, .trip-delete {
  width: 100%;
  height: 100%;
  vertical-align: top;
  cursor: pointer;
}
.trip-author, .trip-description {
  margin: 0;
  margin-top: 10px;
}
.trip-author {
  cursor: pointer;
}
.trip-image {
  width: 100%;
  margin: 0;
  margin-top: 10px;
}
.text-hidden {
  display: none;
}

/* tabs */
#tabs-container {
  margin-left: 20px;
  margin-right: 20px;
}
#wishlist-index {
  float: right;
}
.tab-index {
  width: 49%;
  height: 45px;
  border-right: 1px solid #7f8c8d;
  border-left: 1px solid #7f8c8d;
  border-top: 1px solid #7f8c8d;
  border-radius: 10px 10px 0 0;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
.tab-index h1 {
  margin: 0;
}
.tab-index.active {
  border-color: #2c3e50;
  border-width: 2px;
  background-color: #1abc9c;
}
.tab-content.active {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border: 2px solid #2c3e50;
  background-color: #1abc9c;
}
.tab-content.inactive {
  display: none;
}


/* popup dialogs */
.popup-inactive {
  display: none;
}
#background-black {
  position: fixed;
  top: 50px;
  width: 100%;
  height: 100%;
  background-color: black;
  text-align: center;
}
#info-edit-dialog, #delete-confirm-dialog, #user-photo-edit-dialog {
  position: fixed;
  top: 100px;
  left: 24%;
  width: 50%;
  padding: 2%;
  margin-bottom: 25px;
  background-color: white;
  text-align: center;
}

/* popup trip window */
#background-blur {
  position: fixed;
  top: 50px;
  width: 100%;
  height: 100%;
  background-color: grey;
  opacity: 0.8;
  text-align: center;
}
#trip-popup-close {
  position: absolute;
  top: 75px;
  right: 25px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
#trip-popup-close-icon {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#trip-popup {
  position: absolute;
  top: 100px;
  left: 25%;
  width: 50%;
  margin-bottom: 25px;
  text-align: center;
}

